#navigation_bar {
  background-color: red;
  margin-top: 0px;
}
.jumbotron{
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: inherit;
  background-color: #FFE4C4;
}
.jumbotron h1 {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: black;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.navbar {
  font-weight: bold;
}
.footer {
  font-size: 15px;
}
